#mobile-house {
	height: inherit;
	width: 100vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: #ddd;
	position: absolute;
}

.home-img-mobile {
	height: 80vh;
	width: 90vw;
	margin: 10vh auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#img-mob {
	height: 80vh;
	width: 90vw;
	position: absolute;
	-webkit-filter: brightness(0.6);
	filter: brightness(0.6);
	z-index: 0;
}

.home-img-mobile span {
	margin: auto;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	color: white;
	z-index: 1;
}

.go-down-btn {
	z-index: 3;
	position: relative;
	height: 10vh;
	width: 10vh;
	margin-top: -15vh;
	margin-left: calc(50vw - 5vh);
	border: 1px solid #eee;
	background: var(--theme-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: none;
	-webkit-box-shadow: 0px 0px 5px #222;
	box-shadow: 0px 0px 5px #222;
}

.go-down-btn img {
	-webkit-filter: invert(1);
	filter: invert(1);
	height: 60%;
	width: 60%;
	margin: auto;
}

.go-home-btn-mobile {
	color: black;
	font-family: 'Julius Sans One', sans-serif;
	position: absolute;
	top: 3vh;
	left: 5vw;
	border-bottom: 1px solid black;
}

.go-home-btn-mobile:hover {
	color: black;
	text-decoration: none;
}

#first-mob-page {
	height: inherit;
	position: relative;
	top: 10vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#second-mob-page {
	height: 100vh;
	background: red;
}

.span1st-mobile {
	height: 10vh;
	width: 50vw;
	text-align: center;
	margin: 2vh auto;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 30px;
	color: #444;
	border-bottom: 2px solid #444;
}

.span2nd-mobile {
	font-family: 'Open Sans', sans-serif;
	width: 90vw;
	margin: 5vh auto;
}

.span3rd-mobile {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 30px;
	color: #444;
	height: 5vhvh;
	margin: 2vh auto 0;
}


.span2nd-mobile::first-letter {
	color: var(--theme-color);
	font-size: 30px;
}

.house-fotogallery {
	height: 30vh;
	width: 90vw;
	margin: 0 auto 5vh auto;
	overflow: hidden;
}

.house-fotogallery img {
	height: 110%;
	width: 100%;
}

.to-display-modal {
	height: 100%;
	top: -110%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.caption-container {
	height: 20%;
	width: 100%;
	background-color: #444;
	top: 80%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.caption-container span {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	color: white;
	margin: auto 3%;
	font-family: 'Julius Sans One', sans-serif;
}

#button-expand {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background: url(../images/expand.png);
	background-size: 20%;
	background-repeat: no-repeat;
	background-position: 85% 50%;
}

.comodities-mob {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 65vh;
	width: 100vw;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #ddd;
}

.comodity-line {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 80%;
	margin: auto;
}

.comodity-column {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.column-icon-mob {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.comodity-column span {
	font-size: 14px;
	text-align: center;
	font-family: 'Julius Sans One',
	sans-serif;
}

.icon-img-mob {
	height: 60px;
	width: 60px;
	margin: auto;
}

.contacts-mob-casa {
	height: 100vh;
	width: 100vw;
	background: #333;
	margin-top: 10vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.span4th-mobile {
	text-align: center;
	font-size: 25px;
	width: 80%;
	margin: 5vh auto;
	font-family: 'Julius Sans One', sans-serif;
}


.my-form-mob {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 80vh;
}

.my-input-mob {
	margin: 5vh auto;
	width: 75vw;
	padding: 1vh;
	background: #333;
	border: none;
	border-bottom: 1px solid var(--theme-color);
	font-family: 'Julius Sans One', sans-serif;
	color: #ddd;
}

.my-input-mob[type=submit] {
	background: var(--theme-color);
	height: 10vh;
}

.footer-mob {
	height: 10vh;
	margin-top: 10vh;
	background-color: #222;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-mob span {
	color: #ddd;
	margin: auto;
	font-size: 10px;

	font-family: 'Julius Sans One', sans-serif;
}

.mobile-modal {
	height: 100vh;
	width: 100vw;
	position: fixed;
	background: rgba(0, 0, 0, 0.99);
	z-index: 10;
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	top: 0;
}

.close-modal-mob {
	position: relative;
	width: 50px;
	height: 50px;
	left: calc(100vw - 70px);
	top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: url(../images/error.png);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-filter: invert(1);
	filter: invert(1);
}

.modal-itself-mob {
	height: 30vh;
	width: 80vw;
	margin: 30vh auto 5vh;
	overflow: hidden;
}

.modal-itself-mob img {
	height: 110%;
}

.dots-modal-mob {
	height: 10vh;
	width: 80vw;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.dot-mob {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	margin: 0px auto;
	border: 1px solid var(--theme-color);
}

.active-dot-mob {
	background: var(--theme-color);
}
